pygments>=2.4.1
jupyterlab_pygments>=0.1.1
ipykernel
nbsphinx
panel
bokeh
numpy>=1.22
param
matplotlib
scikit-learn
umap-learn
hdbscan
apricot-select
numpydoc
pandas
glasbey
git+https://github.com/lmcinnes/param_docs
